<h6 class="mt-3">Administrar Datos de la Estación {{ station?.name }}</h6>
<mwl-calendar-month-view
  [viewDate]="viewDate"
  [events]="events"
  [locale]="locale"
  [activeDayIsOpen]="activeDayIsOpen"
  (dayClicked)="dayClicked($event.day)">
</mwl-calendar-month-view>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">
      <span *ngIf="modalData?.action == 'Upload'">
        Respaldando datos de Agromet
      </span>
    </h5>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <i class="fa fa-spin fa-spinner fa-fw fa-5x"></i>
    </div>
  </div>
  <div class="modal-footer">
    Por favor espere mientras se cargan los datos a la base de datos.
  </div>
</ng-template>
