<div class="animated fadeIn">
  <div class="row m-1 m-sm-3">
    <div class="col-md-12 p-0">
      <div class="card">
        <div class="card-header">
          <strong>Mediciones de las estaciones Hobo</strong>
        </div>
        <div class="card-body p-2 p-md-4">
          <p class="card-text text-muted">
            Las mediciones de las estaciones pueden tener un retraso en la actualización de hasta una hora.
          </p>
          <hr/>
          <div class="p-md-1">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
