# Client related folders
/client/node_modules
/client/bower_components
/client/dist

# Server related folders
/server/node_modules
/server/data-files/*.csv
/server/model-files/*.RData

# Development Environment Variables
/server/.env
