<h6 class="mt-3"> Editar Estación </h6>
<form class="form-horizontal" [formGroup]="stationForm" (ngSubmit)="updateStationData()" novalidate>
  <div class="form-group row">
    <label class="col-md-2 form-control-label" for="name-input">Nombre</label>
    <div class="col-md-10">
      <input
        class="form-control"
        formControlName="name"
        placeholder="Nombre de la Estación"
        [ngClass]="{
          'is-invalid': stationForm.controls['name'].errors && !stationForm.controls['name'].pristine,
          'is-valid'  : stationForm.controls['name'].valid
        }"
      >
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 form-control-label" for="public-input">Respaldo Automático</label>
    <div class="col-md-10">
      <label class="switch switch-3d switch-primary">
        <input type="checkbox" class="switch-input" formControlName="settings_autobackup">
        <span class="switch-label"></span>
        <span class="switch-handle"></span>
      </label>
    </div>
  </div>
  <div class="form-group row" *ngIf="stationData">
    <label class="col-md-2 form-control-label" for="name-input">Estación</label>
    <div class="col-md-10">
      id: {{stationData.station.id}}, nombre: {{stationData.station.name}}
    </div>
  </div>
  <div class="form-group row" *ngIf="stationData">
    <label class="col-md-2 form-control-label" for="name-input">Región</label>
    <div class="col-md-10">
      id: {{stationData.region.id}}, nombre: {{stationData.region.name}}
    </div>
  </div>
  <div class="form-group row" *ngIf="stationData">
    <label class="col-md-2 form-control-label" for="name-input">Ciudad</label>
    <div class="col-md-10">
      id: {{stationData.city.id}}, nombre: {{stationData.city.name}}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 form-control-label" for="location-input">Ubicación</label>
    <div class="col-md-10">
      <agm-map
        [latitude]="mapLat"
        [longitude]="mapLng"
        [zoom]="zoom"
        [zoomControl]="true"
        (mapClick)="mapClicked($event)">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 form-control-label">Coordenadas:</label>
    <div class="col-md-10">
      Latitud: {{lat}}, Longitud: {{lng}}
    </div>
  </div>
  <button type="submit" class="btn btn-sm btn-success" [disabled]="!stationForm.valid"><i class="fa fa-dot-circle-o"></i> Actualizar Estación</button>
  <button type="button" class="btn btn-sm btn-primary" (click)="goBack()"><i class="fa fa-ban"></i> Cancelar</button>
</form>
