<header class="app-header navbar navbar-dark bg-primary">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" href="#">Alerta Temprana y <br/> Sectorizada de Heladas</a>
  <ul class="nav navbar-nav mr-auto d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler" href="#" appSidebarToggler>&#9776;</a>
    </li>
  </ul>
  <ul class="navbar-nav justify-content-end">
    <li class="nav-item active">
      <button class="nav-link" (click)="logout()">Salir</button>
    </li>
  </ul>
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <!--
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-list"></i> Estaciones </a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Panel de Control </a>
        </li>
        <li class="nav-title" *ngIf="isAdmin()">
          Administración
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/users']"><i class="icon-people"></i> Usuarios</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin-stations']"><i class="icon-grid"></i> Gestionar Estaciones</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin-predictions']"><i class="icon-speedometer"></i> Predicciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/stations-list']"><i class="icon-list"></i> Lista de EMAs </a>
        </li>
        <li class="nav-title">
          Secciones
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/user-predictions']"><i class="icon-speedometer"></i> Predicciones</a>
        </li>
        <li class="nav-title">
          Opciones
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/settings']"><i class="icon-settings  "></i> Configuraciones </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
</div>

<footer class="app-footer">
  Proyecto FIC, Transferencia Sistema de Alerta Temprana y Sectorizada de Heladas
  <!--<span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a></span>-->
</footer>

<simple-notifications [options]="options"></simple-notifications>
