<div class="splash-background">
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h1 class="display-3">Predicción de Heladas</h1>
      <p class="lead">Proyecto FIC, Transferencia Sistema de Alerta Temprana y Sectorizada de Heladas</p>
      <a type="button" class="btn btn-primary" href="#content" pageScroll pageScrollDuration="300">¡Conoce el proyecto!</a>

      <div class="animated fadeIn m-1 m-lg-5">
        <div class="card">
          <div class="card-body" id="content">
            <h1 class="display-4 text-primary text-center">Heladas</h1>
            <div class="row">
              <div class="col-lg-6 col-12 text-justify">
                <p>Una de las variables térmicas de más riesgo que los agricultores enfrentan son las heladas de invierno y las primaverales. Un evento de heladas puede hacer perder la cosecha de un año entero y comprometer los ingresos del siguiente, sobre todo para fruticultores y viticultores.</p>
                <p>Este proyecto considera el desarrollo un sistema de alerta temprana de eventos de heladas basado en un modelo de predicción que utiliza técnicas de Inteligencia Artificial. Lo que resulta importante para reducir daños en los cultivos de la pequeña y mediana agricultura de la Región.</p>
              </div>
              <div class="col-lg-6 col-12 text-justify">
                <p>Este sistema emplea información agroclimatológica histórica de carácter local y está enfocado en la predicción de ocurrencia de fenómenos o sucesos de heladas puntuales, es decir, si un determinado día ocurrirá o no una helada.</p>
                <p>A partir de esta información y utilizando algoritmos de inteligencia Artificial del tipo clasificación y Redes Neuronales Artificiales, se implementará un sistema que entregará una alerta temprana hasta 12 horas antes de la ocurrencia de un evento de helada, indicando además la intensidad que tendrá la helada, todo esto de manera online para los usuarios.</p>
              </div>
            </div>
            <p class="text-center text-primary"><i class="fa fa-snowflake-o fa-5x"></i></p>
        </div>
      </div>

    </div>
  </div>
</div>
