<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <strong>Sistema de Alerta Temprana y Sectorizada de Heladas</strong>
    </div>
    <div class="card-body">
      <div class="row" *ngIf="user.role=='administrator' && statistics">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-block p-1 clearfix">
              <i class="fa fa-podcast bg-primary p-1 font-2xl mr-1 float-left"></i>
              <div class="h5 text-primary mb-0 mt-h">{{statistics.stations}}</div>
              <div class="text-muted text-uppercase font-weight-bold font-xs">Estaciones Disponibles</div>
            </div>
            <div class="card-footer p-x-1 py-h">
              <a class="font-weight-bold font-xs btn-block text-muted" routerLinkActive="active" [routerLink]="['/admin-stations']"> Gestionar Estaciones <i class="fa fa-angle-right float-right font-lg"></i></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-block p-1 clearfix">
              <i class="fa fa-podcast bg-primary p-1 font-2xl mr-1 float-left"></i>
              <div class="h5 text-primary mb-0 mt-h">{{statistics.publicStations}}</div>
              <div class="text-muted text-uppercase font-weight-bold font-xs">Estaciones Públicas</div>
            </div>
            <div class="card-footer p-x-1 py-h">
              <a class="font-weight-bold font-xs btn-block text-muted" routerLinkActive="active" [routerLink]="['/admin-stations']"> Gestionar Estaciones <i class="fa fa-angle-right float-right font-lg"></i></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-block p-1 clearfix">
              <i class="fa fa-users bg-primary p-1 font-2xl mr-1 float-left"></i>
              <div class="h5 text-primary mb-0 mt-h">{{statistics.users}}</div>
              <div class="text-muted text-uppercase font-weight-bold font-xs">Usuarios Registrados</div>
            </div>
            <div class="card-footer p-x-1 py-h">
              <a class="font-weight-bold font-xs btn-block text-muted" routerLinkActive="active" [routerLink]="['/users']"> Usuarios Registrados <i class="fa fa-angle-right float-right font-lg"></i></a>
            </div>
          </div>
        </div>
      </div>
      <p>Bienvenido al Sistema de Alerta Temprana y Sectorizada de Heladas desarrollado mediante el Proyecto FIC código BIP-30.481.998-0.</p>
    </div>
  </div>
</div>
