<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Modelos de Heladas</strong>
        </div>
        <div class="card-body p-2 p-md-4">
          <div class="p-2">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <h4> Modelos de Predicción Agromet </h4>
                </div>
                <div class="col-md-3 col-12" *ngFor="let item of items">
                  <a href="{{item.fullpath}}" target="_blank">
                    {{ item.file }}
                  </a>
                  <a [routerLink]="" (click)="removeFile(item.file)">
                    <i class="text-danger fa fa-remove "></i>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4 class="mt-5"> Subir modelos </h4>
                  <p class="card-text">Seleccione un archivo RData con el nombre IDEMA_HORA.RData para subirlo automáticamente.</p>
                  <label class="upload-button text-muted">
                    <input
                      class="btn btn-primary"
                      type="file"
                      ngFileSelect
                      [options]="options"
                      (uploadOutput)="onUploadOutput($event)"
                      [uploadInput]="uploadInput" multiple
                      >
                  </label>
                  <p>O arrastre y suelte los archivos en el recuadro.</p>

                  <div
                    class="drop-container"
                    ngFileDrop
                    [options]="options"
                    (uploadOutput)="onUploadOutput($event)"
                    [uploadInput]="uploadInput"
                    [ngClass]="{ 'is-drop-over': dragOver }"
                    >
                    <div class="drop-container-text" id="drop-zone">
                      Arrastre sus archivos aquí
                    </div>
                  </div>

                  <div class="row" *ngFor="let f of files; let i = index;">
                    <div class="col-md-2">
                      <i class="fa fa-file fa-3x m-3 text-primary"></i>
                    </div>
                    <div class="col-md-10 p-2">
                      <div class="row pt-2 px-2">
                        <h6>
                          {{f.name}}
                          <small class="text-muted">({{humanizeBytes(f.size)}})</small>
                        </h6>
                      </div>
                      <div class="row">
                        <div class="col-md-9">
                          <div class="progress">
                            <span class="progress-bar" [style.width]="f.progress.data.percentage + '%'"></span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          {{f.progress.data.percentage}}%
                        </div>
                      </div>
                      <div class="row px-2">
                        {{f.progress.data.speedHuman}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
